body{
    background-color: violet;
}
#form{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px red;
    border-radius: 7px;
}
#btn{
    color: blueviolet;
    background-color: aqua;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}

@media  screen  and ( max-width: 700px){
     #forum{
        width: 65%;
        padding: 40px;
     }
};

    
